---
import Logo from "@/assets/images/logo/logo.png";
import { SignOutButton } from "@/components/common/sign-out-button";
import { ModeToggle } from "@/components/mode-toggle";
import { Button } from "@/components/ui/button";
import BaseLayout from "@/layouts/base-layout.astro";
import { APP_CONSTANTS } from "@/lib/constants/app.constants";
import { Image } from "astro:assets";
import { CommandIcon, LogInIcon } from "lucide-react";

const session = await Astro.session?.get("user");
---

<BaseLayout>
  <div class="flex min-h-screen w-full items-center justify-center p-4 text-justify">
    <div class="flex w-full max-w-xl flex-col items-center justify-center">
      <Image src={Logo} alt={`${APP_CONSTANTS.APP_NAME} logo`} loading="eager" decoding="async" />
      <h1>{APP_CONSTANTS.APP_NAME}</h1>
      <p>{APP_CONSTANTS.APP_DESCRIPTION}</p>
      <div class="flex items-center justify-center gap-4">
        {
          session?.email ? (
            <Fragment>
              <a href="/app">
                <Button variant="link" size="icon" className="cursor-pointer">
                  <CommandIcon />
                  <span class="sr-only">Go To App Page</span>
                </Button>
              </a>
              <SignOutButton client:idle />
            </Fragment>
          ) : (
            <a href="/auth/sign-in">
              <Button variant="link" size="icon" className="cursor-pointer">
                <LogInIcon />
                <span class="sr-only">Go To Sign In Page</span>
              </Button>
            </a>
          )
        }

        <ModeToggle client:load />
      </div>
    </div>
  </div>
</BaseLayout>
