---
import Link from "@/components/common/link.astro";
import CreateContentList from "@/components/forms/content-lists/create-content-list.astro";
import AppLayout from "@/layouts/app-layout.astro";
import { getContentListsByUserId } from "@/services/content-lists/get.content-lists";

const { user } = Astro.locals;
const response = await getContentListsByUserId(user.userId);
---

<AppLayout>
  <div class="flex max-w-xl flex-col gap-4">
    <CreateContentList />
    <hr />
    {
      response.map((item) => (
        <div>
          <Link
            text={`${item.title} => ${item.contents.length}`}
            href={`/app/lists/${item.uuid}`}
          />
        </div>
      ))
    }
  </div>
</AppLayout>
