---
import BaseLayout from "@/layouts/base-layout.astro";
import { getUserFromSession } from "@/lib/utils/get-user-from-session";

const user = getUserFromSession(Astro);
---

<BaseLayout>
  <p>
    {user.email} welcome to the app!
  </p>
</BaseLayout>
