---
import ContentsTable from "@/components/contents-table.astro";
import { CreateContentForm } from "@/components/forms/contents/create-content.form";
import AppLayout from "@/layouts/app-layout.astro";

type Params = {
  listId: string;
};

const { user } = Astro.locals;
const { listId } = Astro.params as Params;
---

<AppLayout>
  <div class="grid grid-cols-1 items-center justify-center gap-4 lg:grid-cols-2 lg:items-start">
    <ContentsTable userId={user.userId} {listId} className="order-2 lg:order-1" />
    <CreateContentForm client:load {listId} className="order-1 lg:order-2" />
  </div>
</AppLayout>
